.wrapper {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 1000px;
  top: 100px;
  left: 100px;
}
.widget--item{
    box-shadow: 10px -2px 20px 2px rgba(0,0,0,.3);
    transition: 1s;

    &:hover{
        transition: 1s;
        transform: scale(1.2);
    }
}