.wrapper {
    position: relative;
    background-color: yellowgreen;
}

.widget {
    font-family: "Space Mono", monospace;
    width: 300px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: dodgerblue;
    color: white;
    padding: 5px;
}

.header--item__one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main--item__one {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.main--item__two {
    width: 70%;
}

.main--item__two p {
    margin: 3px;
}

.main--item__two p span :first-child {
    width: 50%;
}

.main--item__two p span:nth-child(2) {
    width: 40%;
}

.details {
    text-decoration: underline;
    font-weight: bold;
}

.main--item__two p {
    display: flex;
    justify-content: space-between;
}

.userInput input {
    font-family: "Space Mono", monospace;
    width: 300px;
    border: 1px solid dodgerblue;
    padding: 3px;
    padding-left: 10px;
}

.userInput button {
    width: 300px;
    border: 0;
    background-color: dodgerblue;
    color: white;
    padding: 3px;
    cursor: pointer;
    font-family: "Space Mono", monospace;
}